:root {
  --main-color: #434455;
  --highest-color: #2e2f42;
  --second-color: #ffffff;
  --logo-color: #4d5ae5;
  --effect-main-color: #f4f4fd;
  --effect-second-color: #404bbf;
  --main-border-color: #e7e9fc;
  --second-border-color: #8e8f99;
  --header-shadow: rgba(46, 47, 66, 0.7);
  --main-green-color: #31d0aa;
  --main-font: "Roboto", sans-serif;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  background-color: var(--second-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--main-border-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.logo-span {
  color: var(--highest-color);
}

.header-contacts {
  font-style: normal;
}

.header-menu {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color var(--main-transition);
}

.active {
  position: relative;
  color: var(--effect-second-color);
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--effect-second-color);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 24px 0;
  transition: color var(--main-transition);
}

.header-contacts-menu {
  display: flex;
  gap: 40px;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--effect-second-color);
}

.toggle-menu {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: var(--second-color);
  cursor: pointer;
  border: none;
  outline: 0;
}

.toggle-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--second-color);
  z-index: 100;
  transform: translateX(100%);
  transition: transform var(--main-transition);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.toggle-menu-container .toggle-menu {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--second-color);
}

.toggle-menu-container.is-open .toggle-menu {
  min-width: 24px;
  min-height: 24px;
  display: flex;
  background-color: var(--main-border-color);
  border: 1px solid #2e2f4201;
  border-radius: 50%;
  fill: var(--highest-color);
}

.menu-button-svg {
  display: flex;
  background-color: var(--main-border-color);
  border-radius: 50%;
  stroke-opacity: 0.1;
  fill: var(--highest-color);
}

.toggle-menu-container.is-open {
  transform: translateX(0);
}

.menu-link {
  display: block;
  max-width: 353px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--highest-color);
}

.menu-list-item {
  margin-bottom: 40px;
}

.address-num {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-color);
}

.address-mail {
  margin-bottom: 48px;
}

.menu-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.current-mob-menu {
  color: var(--effect-second-color);
}

.mob-menu .link {
  display: block;
  padding: 10px;
  text-decoration: none;
}

.toggle-soc-menu {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.toggle-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--main-transition);
}

.soc-icon-toggle {
  fill: var(--effect-main-color);
}

.banner {
  background-image: linear-gradient(var(--header-shadow), var(--header-shadow)),
    url(../images/banner-bg-mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 112px;
  padding-bottom: 112px;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  flex-direction: column;
  padding: 0 54px;
}

.banner-caption {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.banner-btn {
  display: block;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color);
  background-color: var(--logo-color);
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-transition);
}

/* <---------- Second Section ----------> */
.benefits {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.benefits-list-item {
  width: 100%;
}

.benefits-item-block {
  display: none;
}

.benefits-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--highest-color);
}

.benefits-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
  font-size: 16px;
}

/* <---------- Third Section ----------> */
.activities-title,
.about-us-title,
.examples-subtitle {
  color: var(--highest-color);
}

.activities {
  /* padding-bottom: 120px; */
  display: none;
}

/* .activities-title {
  margin-bottom: 72px;
}

.activities-list {
  display: flex;
  gap: 24px;
}

.activities-item {
  width: calc((100% - 2 * 24px) / 3);
} */

/* <---------- Fourth Section ----------> */
.about-us {
  background: var(--effect-main-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.about-us-title {
  margin-bottom: 72px;
}

.about-us-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-text {
  text-align: center;
  margin-bottom: 8px;
}

.about-us-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--highest-color);
}

.about-us-item {
  background-color: var(--second-color);

  flex-basis: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.soc-link-item:hover,
.soc-link-item:focus {
  background-color: var(--effect-second-color);
}

.person-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.soc-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-menu-item {
  width: 40px;
  height: 40px;
}

.soc-link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: var(--logo-color);
  border-radius: 50%;
  fill: var(--effect-main-color);
  transition: background-color var(--main-transition);
}

/* <---------- Section Five -----------> */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  color: var(--highest-color);
  margin-bottom: 72px;
}

.customers-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px 16px;
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: 1px solid var(--second-border-color);
  border-radius: 4px;
  color: var(--second-border-color);
  transition: border-color var(--main-transition), color var(--main-transition);
}

.customers-icon {
  fill: currentColor;
}

.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--effect-second-color);
  color: var(--effect-second-color);
}

/* <---------- Portfolio section 1 ----------> */
.portfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--effect-main-color);
  padding: 12px 24px;
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  transition: color var(--main-transition),
    background-color var(--main-transition), border-color var(--main-transition),
    box-shadow var(--main-transition);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  color: var(--second-color);
  background-color: var(--effect-second-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.examples {
  padding-top: 96px;
  padding-bottom: 120px;
}

.examples-info-container {
  padding: 32px 16px;
  border: 1px solid var(--main-border-color);
  border-top: none;
}

.examples-list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.examples-item {
  width: calc((100% - 2 * 24px) / 3);
}

.cover-image {
  position: relative;
  overflow: hidden;
}

.popup-text {
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--effect-main-color);
  background-color: var(--logo-color);
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform var(--main-transition);
}

.examples-links {
  transition: box-shadow var(--main-transition);
}

.examples-links:hover,
.examples-links:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.examples-links:hover .popup-text,
.examples-links:focus .popup-text {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--main-transition), visibility var(--main-transition);
}

.modal {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform var(--main-transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--main-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--main-transition),
    border var(--main-transition);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--effect-second-color);
  border: none;
  fill: var(--second-color);
}

.button-close-icon {
  transition: fill var(--main-transition);
}

.modal-form {
  width: 100%;
}

.modal-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.modal-group {
  margin-bottom: 8px;
}

.modal-group-fourth {
  margin-bottom: 16px;
}

.modal-group-fifth {
  margin-bottom: 24px;
}

.modal-title {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--highest-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--second-border-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 16px;
  outline: transparent;
  transition: border-color var(--main-transition);
}

.modal-input:focus {
  border-color: var(--logo-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--logo-color);
}

.modal-input-area {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 4px;
  fill: var(--highest-color);
  transition: fill var(--main-transition);
}

.user-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  transition: border-color var(--main-transition);
}

.user-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.user-comment:focus {
  border-color: var(--logo-color);
}

.terms-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--second-border-color);
  display: block;
}

.privacy-link {
  display: inline-block;
  color: var(--logo-color);
  margin-left: 4px;
}

.privacy-wrap {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  transition: background-color var(--main-transition),
    border var(--main-transition), fill var(--main-transition);
}

.terms-check:checked + .terms-text > .privacy-wrap {
  background-color: var(--effect-second-color);
  fill: var(--effect-main-color);
  border: none;
}

.modal-submit-btn {
  display: block;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  cursor: pointer;
  color: var(--second-color);
  background: var(--logo-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--main-transition);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--effect-second-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* <---------- Footer section ----------> */
.footer {
  background: var(--highest-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: baseline; */
  align-items: center;
  gap: 72px;
}

.footer-container {
  /* margin-right: 120px; */
  text-align: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
}

.footer-soc-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--effect-main-color);
  margin-bottom: 16px;
}

.footer-text,
.logo-span-footer {
  color: var(--effect-main-color);
}

.footer-soc-container {
  margin-top: 72px;
}

.footer-soc-menu {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-text {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--second-color);
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  fill: var(--effect-main-color);
  transition: background-color var(--main-transition);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--main-green-color);
}

.subscribe-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.footer-email {
  display: block;
  min-width: 320px;
  height: 40px;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
}

.footer-email::placeholder {
  color: var(--second-color);
}

.subscribe-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  padding: 10px 24px;
  color: var(--second-color);
  line-height: 1.5;
  background-color: var(--logo-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--main-transition);
  margin: 0 auto;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--effect-second-color);
}

.sub-icon {
  margin-left: 16px;
  fill: var(--second-color);
}

@media screen and (max-width: 427px) {
  .header-menu,
  .header-contacts {
    display: none;
  }
}

@media (min-width: 428px) and (max-width: 767px) {
  .header-menu,
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .toggle-menu {
    display: none;
  }

  .header {
    border-bottom: 1px solid var(--main-border-color);
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 0;
  }

  .banner {
    background-image: linear-gradient(
        var(--header-shadow),
        var(--header-shadow)
      ),
      url(../images/banner-bg-tablet.jpg);
  }

  .benefits-list {
    flex-direction: row;
    gap: 72px 24px;
  }

  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .benefits-subtitle {
    text-align: left;
  }

  .about-us-list {
    flex-direction: row;
    gap: 64px 24px;
  }

  .customers-menu {
    gap: 72px 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer-main-container {
    flex-direction: column;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .footer-logo-soc-container {
    display: flex;
    align-items: baseline;
    gap: 24px;
  }

  .footer-container {
    text-align: left;
  }

  .footer-soc-container {
    margin-top: 0;
  }

  .subscribe-text {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-email {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-contacts-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px;
  }

  .banner {
    max-width: 1440px;
    background-image: linear-gradient(
        var(--header-shadow),
        var(--header-shadow)
      ),
      url(../images/banner-bg-desk.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .banner-caption {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
  .benefits {
    padding: 120px 0;
  }

  .benefits-list {
    gap: 24px;
  }

  .benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-item-block {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--effect-main-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .benefits-subtitle {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
  }

  .benefits-text {
    font-weight: 400;
  }

  .activities {
    display: block;
    padding-bottom: 120px;
  }

  .activities-title {
    margin-bottom: 72px;
  }

  .activities-list {
    display: flex;
    gap: 24px;
  }

  .activities-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .about-us {
    padding: 120px 0;
  }

  .about-us-list {
    flex-direction: row;
    gap: 24px;
  }

  .about-us-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .customers-menu {
    gap: 21px;
  }

  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }

  .footer-main-container {
    max-width: 100%;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
  }

  .footer-logo-soc-container {
    display: flex;
    align-items: baseline;
    gap: 120px;
  }

  .footer-container {
    text-align: left;
  }

  .footer-soc-text {
    text-align: left;
  }

  .footer-soc-container {
    margin-top: 0;
  }

  .subscribe-text {
    text-align: left;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-email {
    width: 264px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2ddpx) {
  .banner {
    background-image: linear-gradient(
        var(--header-shadow),
        var(--header-shadow)
      ),
      url(../images/banner-bg-mob-2x.jpg);
  }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(
        var(--header-shadow),
        var(--header-shadow)
      ),
      url(../images/banner-bg-tablet-2x.jpg);
  }
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .banner {
    background-image: linear-gradient(
        var(--header-shadow),
        var(--header-shadow)
      ),
      url(../images/banner-bg-desk-2x.jpg);
  }
}
